p{
		font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 30px;
/* identical to box height, or 214% */

letter-spacing: 1.5px;
text-transform: uppercase;

color: #B99BB6;

}

.menu ul{
	list-style: none;
	display: flex;
	gap: 20px;
	position: absolute;
	right: 140px;
}

.menu a{
	text-decoration: none;
	font-family: cardo;
	color: #B08EAD;
	font-size: 17px;
	line-height: 23px;
	display: flex;
	padding: 40px;
	
}

.logo{
	padding-right: 530px;
	padding-top: 20px;

}

.icon{
	padding-top: 40px;
}

.main_img{
	padding-top: 150px;
	width: 100%;
}

.main_img img{
	width: 100%;
}

.subtitle{
	text-align: center;
}

.subtitle p{
	color: #B99BB6;
	font-size: 14px;
	font-family: 'Roboto';


	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #B99BB6;
}

.subtitle h2{
	font-family: 'Cormorant Garamond';
	font-style: normal;
	font-size: 26px;
	line-height: 38px;
	text-align: center;
	color: #5F4D5D;

}

 button{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #B99BB6;
    padding: 16px 29px;
    background-color: transparent;
    border-radius: 25px;
   	border: 1px solid #B99BB6;
    border-radius: 25px;
}

.img_block{
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

.img_block img{
	padding: 37px;
}

.title{
	display: flex;
	flex-direction: column;

}

.left_text{
	margin-left: 175px;
}

.right_img{
	position: absolute;
	right: 111px;
	margin-top: 120px;
	
}

.left_text p{
	margin-top: 150px;
}

 h2{
	font-family: 'Cormorant Garamond';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;
	color: #5F4D5D;

}

.left_img{
	margin-top: 180px;
	position: absolute;
	left: 135px;

}

.info{
	display: flex;
	flex-direction: column;
	margin-left: 780px;
}

.info p{
	margin-top: 260px;
}

.block h1{
	font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
/* identical to box height, or 125% */



color: #5F4D5D;

}

.block h3{
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 109% */


color: #B0B0B0;

}

.images_block{
	display: flex;
	justify-content: center;
	margin-top: 195px;
	text-align: center;
}

.images{
	padding: 25px;
}

.images-block{
	display: flex;
	justify-content: center;
	margin-top: 55px;
	text-align: center;

}

.foot img{
	width: 100%;
	margin-top: 75px;
}